@import '_variables';

// 1b. Login page

.profileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: $lightestLime;
  height: 90vh;
}

.profileContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 100px;
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  border: 0.125rem solid $secondarySalmon;
  border-radius: 5%;
  width: 80%;
  height: auto;
  box-shadow: 1rem 1.5rem 1.6rem 0rem rgb(128, 128, 128, 0.1);
  background-color: white;
  // padding: 1rem;

  h1 {
    font-size: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    align-self: flex-start;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  b {
    min-width: 20rem;
    text-align: center;
  }
  input {
    font-size: 4rem;
  }
  tb {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50rem;
  }
  label {
    font-size: 3rem;
    color: lighten(black, 50);
  }
  .text-box {
    margin-bottom: 2rem;
  }
  span {
    color: red;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .divider {
    color: lighten(black, 20);
    background-color: white;
    padding: 0 0.5rem;
  }
  hr {
    border: 0.125rem solid $secondarySalmon;
    width: 75%;
  }
  .section-div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
    width: 80%;
    height: 0.5rem;
    border-bottom: 0.25rem solid black;
  }
  button {
    transform: translate(-4rem, 0);
  }
  .signup,
  .login,
  .back {
    transform: translate(0, 0);
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: start;
    min-width: 25rem;
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: $primarySalmon;
    color: white;
    &:hover {
      background-color: darken($primarySalmon, 10);
    }
  }
  .select {
    font-size: 3rem;
    width: 100%;
  }
}
