$primaryBlack: #050505;
$secondaryBlack: #5d5d5d;

$primaryLime: #00ff00;
$secondaryLime: #acffac;
$lightestLime: #e2ffe2;

$primarySalmon: salmon;
$secondarySalmon: #fcc0b9;
$lightestSalmon: #fdebe9;

$select-color: #fff;
$select-background: darken($primarySalmon, 5);
$select-height: 50rem;
$select-width: 10rem;
