@import '_variables';
@import '_login.scss';
@import '_table.scss';
@import '_dropdown.scss';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sen&display=swap');

// Global
html {
  font-size: 1vw;
}

body {
  height: 100vh;
  margin: 0px;
  font-family: 'Sen', sans-serif;
}

button {
  background-color: $primarySalmon;
  border: 0.1rem solid white;
  border-radius: 4rem;
  height: auto;
  font-size: 4rem; //root element "rem"
}

#button :hover {
  cursor: help;
}

// 2. Feature Page
.feature-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  margin-left: 5px;
  margin-right: 5px;
}
