@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sen&display=swap');

// Colors

$primaryBlack: #050505;
$secondaryBlack: #5d5d5d;

$primaryLime: #00ff00;
$secondaryLime: #acffac;
$lightestLime: #e2ffe2;

$primarySalmon: salmon;
$secondarySalmon: #fcc0b9;
$lightestSalmon: #fdebe9;

// Global
body {
  height: 100vh;
  margin: 0px;
  font-family: 'Sen', sans-serif;
}
.loginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $lightestLime;
  height: 100vh;
}

button {
  background-color: $primarySalmon;
  border: 1px solid white;
  height: 30px;
}

#button :hover {
  cursor: help;
}

// 1b. Login page

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondarySalmon;
  border-radius: 5%;
  width: 300px;
  box-shadow: 8px 10px 14px 0px rgb(128, 128, 128, 0.1);
  background-color: white;
  margin-top: 100px;
}

.loginContainer input {
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5%;
}

.loginContainer button {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5%;
}

// 2. Feature Page
.feature-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  margin-left: 5px;
  margin-right: 5px;
}

//navbar
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $secondarySalmon;
}

.logoutContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
}

//dropdown

.dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $lightestLime;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondarySalmon;
  border-radius: 5%;
  width: 300px;
  box-shadow: 8px 10px 14px 0px rgb(128, 128, 128, 0.1);
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.dropdown label {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown select {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  margin: 5px;
  margin-top: 50px;
}

thead {
  background-color: $lightestSalmon;
  font-size: 14px;
}

tbody {
  background-color: white;
  font-size: 12px;
}

td {
  margin-left: 20px;
}

tr {
  padding: 10px;
}
