@import '_variables';
@import '_header.scss';
@import '_login.scss';
@import '_signup.scss';
@import '_profile.scss';
@import '_table.scss';
@import '_card.scss';
@import '_dropdown.scss';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sen&display=swap');

// Global
html {
  font-size: 1vw;
}

body {
  height: 100vh;
  margin: 0px;
  font-family: 'Sen', sans-serif;
}

.svg_icons {
  padding: 0;
  margin: 0;
  transform: scale(3);
}
